$background: #181615;
$foreground: #FAF9F4;
$color0: #3F3D3C;
$color1: #16110E;
$color2: #2E261F;
$color3: #443B2F;
$color4: #443B2F;
$color5: #897C64;
$color6: #B6B2A8;
$color7: #F0EEE7;
$color8: #A8A6A2;
$color9: #1E1713;
$color10: #3D332A;
$color11: #5B4F3F;
$color12: #5B4F3F;
$color13: #B7A686;
$color14: #F2EDE0;
$color15: #F0EEE7;
