$background: #06000B;
$foreground: #F1E0E0;
$color0: #06000B;
$color1: #342143;
$color2: #4B314C;
$color3: #854941;
$color4: #7A515F;
$color5: #7F5461;
$color6: #A17D7D;
$color7: #E2CACB;
$color8: #9E8D8E;
$color9: #452C59;
$color10: #644166;
$color11: #B26157;
$color12: #A36B7F;
$color13: #AA7082;
$color14: #D6A6A7;
$color15: #E2CACB;
