$background: #131418;
$foreground: #EBECEF;
$color0: #3B3C3F;
$color1: #244050;
$color2: #284E75;
$color3: #3B697C;
$color4: #676275;
$color5: #467E92;
$color6: #94989D;
$color7: #DADCE0;
$color8: #999A9C;
$color9: #30556A;
$color10: #35689C;
$color11: #4F8CA5;
$color12: #8A839C;
$color13: #5EA8C3;
$color14: #C6CAD1;
$color15: #DADCE0;
