/*Estilos de la ventana */
@import "colors.scss";
/*est amadre de importacion que hce es por que uso wayland para
 que segun el wallpaper que tenga se pona un color*/
* {
  background-color:transparent;
  padding:0;
  margin:0;
}

.player-container{
  //background-color: #1e1e2e;
  //color: #cdd6f4;
  background-color: rgba(43,43,43, 0.29);
  color: $color3;
  padding: 10px;
  border-radius: 10px;
  //border : 2px solid #89b4fa;
  border: 2px solid $color3;
}

.title{
  font-weight: bold;
  font-size: 1.1em;
  color: $color7;
}

.artist{
  font-size: 0.9em;
  color: $color9;
  //color: #a6adc8;
}

.album-art{
  min-width: 15rem;
  min-height: 15rem;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  border-radius: 10px;
}

.btn{
  min-width: 30px;
  min-height: 30px;
  //color: #a3a3f7;
  color: $background;
  background-color: transparent;
  background-image: none;
  //border: 1px solid #89c4fa;
  border: 1px solid $color1;
  box-shadow: none;
}

.btn:hover {
  //color: #cba6f7;
  //background-color: rgba(255, 255, 255, 0.05);
  color: $background;
  background-color: $color4;
  border-radius: 5px;
}

.progress-overlay{
  margin-top: 10px;
  margin-bottom: 5px;
}

.cava-bars {
  color: $color11;
  font-family: monospace;
  font-size: 1.5em;
  color: $color4;
  min-height: 35px;
  min-width: 100px;
}

.progress-slider scale trough {
  min-height: 15px;
  min-width: 150px;
  background-image:none;
  background-color: transparent;
  border:none;
  box-shadow: none;
}

.progress-slider scale highlight {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

scale contents trough slider {
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    min-width: 0;
    min-height: 0;
    margin: -10px; /* Esto lo colapsa totalmente */
}
